---
// src/components/Footer.astro
---

<footer>
    <div class="contact-info">
        <a href="mailto:oliviergonnet.video@gmail.com">
            <span><img src="/svg/envelope-white.svg" alt="mail" /></span> oliviergonnet.video@gmail.com
        </a>
        <a href="https://www.youtube.com/@OlivierGonnet" target="_blank">
            <span><img src="/svg/youtube-white.svg" alt="instagram" /></span> oliviergonnet
        </a>
        <a href="https://www.instagram.com/oliviergonnet.video/" target="_blank">
            <span><img src="/svg/instagram-white.svg" alt="youtube" /></span> oliviergonnet.video
        </a>
    </div>
    <p class="copyright">© 2024 GOONVIDEO - Tous droits réservés.</p>
</footer>

<style lang="scss">
    footer {
        background-color: #030f25;
        color: white;
        padding: 3rem 1rem;
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.1);
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .contact-info a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        transition: color 0.3s ease;
    }
    .contact-info a:hover {
        color: #e5c35c; /* Ta couleur dorée */
    }
    .copyright {
        font-size: 0.9rem;
        opacity: 0.7;
    }

    .contact-info img {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
    }
</style>